
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-style: normal;
  margin: 0;
  padding: 0px;
  width: 100%;
}

a{
  display: inline-block;
  text-decoration: none;
  padding:  0;
  width: 90vw;

}

.header{
  width: 100vw;
  height: 80px;
  padding:  0;
  background-color: white;
  position: fixed;
  z-index: 999;
  margin: 0 auto;
  top: 0;
  left: 0;
  box-shadow: 0px 5px #000000;
}

.header-logo{
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  width: 100vw;
}

.header-logo:active{
  opacity: 0.5;
}

.header-logo img{
  width: 120px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
}

.header-logo a{
  width: 120px;
}



.main-logo{
  height: 600px;
  background-image: url(pictures/9.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.container{
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  height: auto;
  width: 100%;
}

.container h1{
  text-align: center;
  font-size: 80px;
  color: white;
  line-height: 300px;
  margin-top: 80px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main-list {
  height: 90vh;
  width: 100%;
  margin: 0 auto;

  color: rgba(0, 0, 0, 0.5);
  margin: 30px auto;
}



.btn{
  padding: 0px;
  text-align: center;
  height: 40vh;
  width: 39vw;
  margin: 5vh 5vw ;
  display: block;
  border: 2px solid #000;
  box-shadow: 8px 10px #C0C0C0;
  background-size: cover;
}


.btn:active{
  opacity: 0.7;
}

.btn a{
  display: inline-block;
  width: 40vw;
  font-size: 4em;
  font-family: sans-serif;
  opacity: 0.8;
  text-align: center;
  margin: 0 auto;
  padding:  0 ;
  color: #fff;
  line-height: 40vh;
}

.about a,
.leaders a{
  color: black;
}



.about{
  background-image: url(pictures/1.jpg);
  float: left;
}

.schedule{
  background-image: url(pictures/2.jpg);
  float: left;
}

.leaders{
  background-image: url(pictures/3.jpg);
  float: left;
}

.questions{
  background-image: url(pictures/6.jpg);
  float: left;
}


.SNS{
  text-align: center;

}

.sns{
  display: inline-block;
  border: 2px solid #000000;
  width: 45vw;
  text-align: center;
  margin: 5vh 2vw ;
  font-size: 50px;
  border-radius: 100px;
  color: white;
  box-shadow: 0 5px #000;
}

.sns:active{
  box-shadow: none;
  position: relative;
  top:5px;
}

.twitter{
  background-color: #55acee;
  float: left;
}

.instagram{
  background-image: url(pictures/instagram_23-2147821882.jpg);
  background-size: cover;
  float: left;
}

.sns:active{
  opacity: 0.7;
}

.footer{
  height: 140px;
  background-color: #000000;
  margin-top: 50px;
  overflow: hidden;
}

.form{
  height: 80px;
  width: 30vw;
  margin-top: 30px;
  margin-left: 60vw;
  background-color: #cbf7ff;
  border-radius: 5px;
}

.form a{
  width: 30vw;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  color: #000;
  font-size: 1.2em;
}

.developer{
  font-size: 0.8em;
  margin-left: 20vw;
}


/*----------------------------------------------------*/


@media screen and (max-width:1000px) {
/*横表示*/

.main-logo{
    height: 300px;
   }

 .container h1{
    font-size: 50px;
    line-height:160px;
    margin-top: 80px;
  }

  .btn a{
    font-size: 2em;
  }

  .form a{
    font-size: 0.8em;
  }

  .developer{
    font-size: 0.4em;
  }

}

/*----------------------------------------------------*/

/*縦表示*/
@media screen and (max-width:700px) {


.clearfix {
  padding: 0 2vw;
}

.container h1{
  font-size: 50px;
}

.main-list {
  width: auto;
  padding: 10px;
}

.btn{
  height: 18vh;
  width: 90vw;
  margin: 0 auto 5vh auto ;
}

.btn a{
  width: 90vw;
  font-size: 40px;
  line-height: 18vh;
}

.about a,
.leaders a{
  color: white;
}

.about{
  background-image: url(pictures/4.jpg);

}

.schedule{
  background-image: url(pictures/5.jpg);

}

.leaders{
  background-image: url(pictures/7.jpg);

}

.questions{
  background-image: url(pictures/8.jpg);
}

.SNS{
  padding: 0 5vw;
}

.sns{
  width: 90vw;
  margin: 30px auto;
}

.form{
  width: 90vw;
  margin: 30px auto;
}

.form a{
  width: 90vw;
  font-size: 18px;
}

.developer{
  font-size: 12px;
  margin-left: 50vw;
}

}
