
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-style: normal;
  margin: 0;
  padding: 0px;
  width: 100%;
}

a{
  display: inline-block;
  text-decoration: none;
  padding:  0;
  width: 80vw;
  text-align: center;
  margin: 0 auto;
}

.header-logo{
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.header-logo:active{
  opacity: 0.5;
}

.header-logo img{
  width: 120px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
}

.header{
  width: 100%;
  height: 80px;
  padding:  0;
  background-color: white;
  position: fixed;
  z-index: 999;
  margin: 0 auto;
  top: 0;
  left: 0;
  box-shadow: 0px 5px #000000;
}

.main{
  height: auto;
}


.container{
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  height: auto;
  width: 100%;
}

.top-wrapper img{
  width: 90vw;
  height: 30vh;
  margin: 0 4vw;
}

.top-wrapper p{
  font-size: 20px;
  text-align: center;

}

.flex{
  height: 75vh;
  display: flex;
  padding: 0 2vw;
}

.btn {
  height: 60vh;
  width: 30vw;
  text-align: center;
  margin: 10vh 1vw;
  border: 2px solid #000;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

.btn:active{
  opacity: 0.5;
}

.btn a{
display: inline-block;
width: 30vw;

}

.btn p{
  display:block;
  width: 30vw;
  margin: 54vh 0 0 0;
  font-size: 30px;
  text-align: center;
  background-color:rgba(211, 255, 203, 0.5);
  color: #000;
}

.president{
  background-image: url("president/pictures/pic.png");
}

.vice-president{
  background-image: url("vice-president/pictures/pic.png");
}

.accountant{
  background-image: url("accountant/pictures/pic.png");
}

.X{
  background-image: url("X/pictures/pic.png");
}

.Y{
  background-image: url("Y/pictures/pic.png");
}

.Z{
  background-image: url("Z/pictures/pic.png");
}

.SNS{
  text-align: center;
}

.sns{
  display: inline-block;
  width: 40vw;
  text-align: center;
  margin: 40px 4.5vw;
  font-size: 20px;
  border-radius: 100px;
  color: white;
  float: left;
}

.twitter{
  background-color: #55acee;
}

.instagram{
  background-image: url(../pictures/instagram_23-2147821882.jpg);
  background-size: cover;

}

.sns:active{
  opacity: 0.7;
}

.footer{
  height: 150px;
  background-color: #000000;
  margin-top: 50px;

}


/*----------------------------------------------------------*/


@media screen and (max-width:1000px) {
/*横表示*/

.top-wrapper img{
  height: 40vh;
}

.btn {
  height: 70vh;
}

.btn a{
  display: inline-block;
  width: 30vw;
  height: 70vh;
}

.btn p{
  margin: 60vh 0 0 0;
  font-size: 1.7em;
}

}


/*----------------------------------------------------------*/

@media screen and (max-width:700px) {
/*縦表示*/


.top-wrapper img{
  height: 15vh;
}

.flex{
  height: auto;
  display: block;
  padding: 0;
}


.btn {
  width: 90vw;
  height: 70vh;
  margin: 10vh 5vw;
  background-position: top;
}


.btn a{
  width: 90vw;
  line-height: 15vh;
}

.btn p{
  height: 6vh;
  line-height: 6vh;
  width: 90vw;
  margin: 63vh 0 0 0;
  font-size: 1.6em;
}


}
